<h1 class='text-primary'>All Contacts</h1>

<table class='table table-striped'>
  <thead>
    <tr>
      <th>Card</th>
      <th>Last name</th>
      <th>First name</th>
      <th>Company</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Notes</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= image_tag contact.card_url(:thumb), :class => "img-rounded" %></td>
        <td><%= contact.last_name %></td>
        <td><%= contact.first_name %></td>
        <td><%= contact.company %></td>
        <td><%= contact.phone %></td>
        <td><%= contact.email %></td>
        <td><%= contact.notes %></td>
        <td><%= link_to 'Show', contact %></td>
        <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
        <td><%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contact', new_contact_path, {:class =>'btn btn-primary'} %>
